Repository LadybirdBrowser/ladybird, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timschumi, @AtkinsSJ, @alimpfard, @trflynn89

.github/CODEOWNERS:

/AK/CircularBuffer.* @timschumi
/AK/MaybeOwned.h @timschumi
/AK/*Stream.* @timschumi
/Lagom/Tools/CodeGenerators/LibWeb @AtkinsSJ
/Tests/LibCompress @timschumi
/Userland/Libraries/LibArchive @timschumi
/Userland/Libraries/LibCompress @timschumi
/Userland/Libraries/LibCore/File.* @timschumi
/Userland/Libraries/LibCore/Socket.* @timschumi
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/CSS @AtkinsSJ
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @trflynn89
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/gzip.cpp @timschumi
/Userland/Utilities/lzcat.cpp @timschumi
/Userland/Utilities/tar.cpp @timschumi
/Userland/Utilities/wasm.cpp @alimpfard
/Userland/Utilities/xzcat.cpp @timschumi

LibWeb: Base the current find in page position on the current selection
  Userland/Libraries/LibWeb/Page/Page.cpp
Owners: none

LibWeb: Ensure a repaint occurs when the current selection is cleared
  Userland/Libraries/LibWeb/DOM/Range.cpp
Owners: none

LibTimeZone: Exclude from the tools build and switch to a shared library
  Meta/Lagom/CMakeLists.txt
  Userland/Libraries/LibTimeZone/CMakeLists.txt
Owners: @trflynn89

LibTimeZone: Remove entirely unused time zone methods
  Meta/Lagom/Tools/CodeGenerators/LibTimeZone/GenerateTimeZoneData.cpp
  Tests/LibTimeZone/TestTimeZone.cpp
  Userland/Libraries/LibTimeZone/TimeZone.cpp
  Userland/Libraries/LibTimeZone/TimeZone.h
Owners: @trflynn89

LibWeb: Fire input event on user interaction with input element buttons
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.cpp
Owners: none

LibWeb: Update number input on mousedown of number input buttons
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.cpp
Owners: none

LibWeb: Fire a change event on mouseup of number input buttons
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.cpp
Owners: none

LibWeb: Deduplicate the firing of input events in HTMLInputElement
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.h
Owners: none

LibWebView: Allow data URLs in sanitize_url
  Tests/LibWebView/TestWebViewURL.cpp
  Userland/Libraries/LibWebView/URL.cpp
Owners: none

LibWebView: Allow data URLs in sanitize_url
  Tests/LibWebView/TestWebViewURL.cpp
  Userland/Libraries/LibWebView/URL.cpp
Owners: none

Meta: Remove CommonMark spec test downloader
  Meta/CMake/commonmark_spec.cmake
Owners: none

Meta: Remove SerenityOS-specific WASM test installer
  Meta/CMake/wasm_spec_tests.cmake
  Userland/Libraries/LibWasm/CMakeLists.txt
Owners: @alimpfard

LibTLS: Remove key-logging debug feature
  AK/Debug.h.in
  Meta/CMake/all_the_debug_macros.cmake
  Meta/gn/secondary/AK/BUILD.gn
  Userland/Libraries/LibTLS/HandshakeClient.cpp
  Userland/Services/RequestServer/main.cpp
Owners: @alimpfard

Base: Remove archive.zip
  Base/home/anon/Documents/zip/archive.zip
Owners: none

Base: Move test-webm.webm out of /home/anon
  Base/res/html/misc/test-webm.webm
  Base/res/html/misc/video-source-children.html
  Base/res/html/misc/video-webm.html
  Tests/LibWeb/Layout/input/html-dimensions.html
  Tests/LibWeb/Text/data/video-gc-frame.html
Owners: none

LibGfx: Add release callback for Bitmap
  Userland/Libraries/LibGfx/Bitmap.cpp
  Userland/Libraries/LibGfx/Bitmap.h
Owners: none

LibWebView+WebContent: Move backing store allocation into WebContent
  Ladybird/WebContent/CMakeLists.txt
  Userland/Libraries/LibWeb/Page/Page.h
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Libraries/LibWebView/WebContentClient.cpp
  Userland/Libraries/LibWebView/WebContentClient.h
  Userland/Services/WebContent/BackingStoreManager.cpp
  Userland/Services/WebContent/BackingStoreManager.h
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.h
  Userland/Services/WebContent/PageClient.cpp
  Userland/Services/WebContent/PageClient.h
  Userland/Services/WebContent/WebContentClient.ipc
  Userland/Services/WebContent/WebContentServer.ipc
Owners: none

Everywhere: Hand pid of new process to client in launch_server_process()
  Ladybird/HelperProcess.cpp
  Userland/Libraries/LibWebView/WebContentClient.cpp
  Userland/Libraries/LibWebView/WebContentClient.h
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/WebContentClient.ipc
Owners: none

Everywhere: Use IOSurface as backing store on macOS
  Ladybird/AppKit/main.mm
  Ladybird/MachPortServer.cpp
  Ladybird/MachPortServer.h
  Ladybird/Qt/main.cpp
  Ladybird/WebContent/main.cpp
  Userland/Libraries/LibCore/Forward.h
  Userland/Libraries/LibCore/Platform/MachMessageTypes.h
  Userland/Libraries/LibCore/Platform/ProcessStatisticsMach.cpp
  Userland/Libraries/LibCore/Platform/ProcessStatisticsMach.h
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Libraries/LibWebView/WebContentClient.cpp
  Userland/Libraries/LibWebView/WebContentClient.h
  Userland/Services/WebContent/BackingStoreManager.cpp
  Userland/Services/WebContent/BackingStoreManager.h
Owners: none

WebContent: Move screenshot requests handling into repaint loop
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/PageClient.cpp
  Userland/Services/WebContent/PageClient.h
Owners: none

LibCore: Add a wrapper for IOSurface
  Userland/Libraries/LibCore/CMakeLists.txt
  Userland/Libraries/LibCore/IOSurface.cpp
  Userland/Libraries/LibCore/IOSurface.h
  Userland/Libraries/LibCore/MachPort.h
Owners: none

LibWeb: Rename CommandList to DisplayList
  Meta/gn/secondary/Userland/Libraries/LibWeb/Painting/BUILD.gn
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/HTML/Navigable.cpp
  Userland/Libraries/LibWeb/HTML/Navigable.h
  Userland/Libraries/LibWeb/HTML/TraversableNavigable.cpp
  Userland/Libraries/LibWeb/Painting/DisplayList.cpp
  Userland/Libraries/LibWeb/Painting/DisplayList.h
  Userland/Libraries/LibWeb/Painting/NestedBrowsingContextPaintable.cpp
  Userland/Libraries/LibWeb/Painting/RecordingPainter.cpp
  Userland/Libraries/LibWeb/Painting/RecordingPainter.h
  Userland/Libraries/LibWeb/Painting/SVGMaskable.cpp
  Userland/Libraries/LibWeb/SVG/SVGDecodedImageData.cpp
Owners: none

LibWeb: Rename CommandExecutor to DisplayListPlayer
  Meta/gn/secondary/Userland/Libraries/LibWeb/Painting/BUILD.gn
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/HTML/TraversableNavigable.cpp
  Userland/Libraries/LibWeb/Page/Page.h
  Userland/Libraries/LibWeb/Painting/DisplayList.cpp
  Userland/Libraries/LibWeb/Painting/DisplayList.h
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerCPU.cpp
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerCPU.h
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerGPU.cpp
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerGPU.h
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerSkia.cpp
  Userland/Libraries/LibWeb/Painting/DisplayListPlayerSkia.h
  Userland/Libraries/LibWeb/Painting/SVGMaskable.cpp
  Userland/Libraries/LibWeb/SVG/SVGDecodedImageData.cpp
  Userland/Libraries/LibWeb/SVG/SVGDecodedImageData.h
  Userland/Services/WebContent/PageClient.cpp
  Userland/Services/WebContent/PageClient.h
  Userland/Services/WebWorker/PageHost.h
Owners: none

LibWeb: Ensure a repaint occurs when the current selection is cleared
  Userland/Libraries/LibWeb/DOM/Range.cpp
Owners: none

LibWeb: Base the current find in page position on the current selection
  Userland/Libraries/LibWeb/Page/Page.cpp
Owners: none

LibTimeZone: Remove entirely unused time zone methods
  Meta/Lagom/Tools/CodeGenerators/LibTimeZone/GenerateTimeZoneData.cpp
  Tests/LibTimeZone/TestTimeZone.cpp
  Userland/Libraries/LibTimeZone/TimeZone.cpp
  Userland/Libraries/LibTimeZone/TimeZone.h
Owners: @trflynn89

LibTimeZone: Exclude from the tools build and switch to a shared library
  Meta/Lagom/CMakeLists.txt
  Userland/Libraries/LibTimeZone/CMakeLists.txt
Owners: @trflynn89

Meta: Update Polar link in FUNDING.yml
  .github/FUNDING.yml
Owners: none
